@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. Brigadeiro Faria Lima<br />
    Itaim Bibi, 6399<br />
    <abbr title="Telefone">P:</abbr>
    11-8888-9999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:blascot@exemplo.com">Support@exemplo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:blasco@examplo.com">Marketing@examplo.com</a>
</address>