@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BLASCO</h1>
    <p class="lead">O único cartório digital do Mundo.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cartório Blasco</h2>
        <p>
            Cartório Blasco, 30º Tabelião de Notas, é o primeiro totalmente digital do mundo na gestão integral de serviços notariais.
        </p>
        <p><a class="btn btn-default" href="https://cartorioblasco.com.br">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transferências de Imóveis</h2>
        <p>
            Escolha o serviço
            Responda algumas perguntas
            Saiba os documentos necessários Agende a assinatura.
        </p>
        <p><a class="btn btn-default" href="https://cartorioblasco.com.br">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Serviços Notariais</h2>
        <p>
            Receba o orçamento
            Aprove e pague
            Receba as certidões
            Acesse a minuta da escritura.
        </p>
        <p><a class="btn btn-default" href=https://cartorioblasco.com.br">Saiba Mais &raquo;</a></p>
    </div>
</div>